body {
  width: 100%;
  height: 100%;
  background-image: url('../img/Sky.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  margin: 0.75rem 3rem 0;
  padding-top: 1rem;
  border: 2px dashed blue;
  border-radius: 50px;
  background-image: url(../img/Bear.gif);
  background-position: center;
}
.header h1,
.header h2 {
  font-size: 5rem;
  font-family: "niconne", sans-serif;
  font-weight: 700;
  text-align: center;
}
.header h1 {
  font-size: 7rem;
}
.main {
  margin: 8rem 0 3.2rem;
  display: flex;
  justify-content: center;
}
.main .img {
  max-width: 300px;
  max-height: 300px;
}
.main .sub__image {
  text-align: center;
  text-transform: capitalize;
  font-family: "niconne", sans-serif;
  opacity: 0.7;
  margin-top: 5px;
}
.main a {
  font-size: 7rem;
  align-self: center;
}
.main a i {
  margin: 0 6.9rem 0;
  color: #000099;
  opacity: 0.75;
}
.main a i:hover {
  opacity: 1;
  cursor: pointer;
}
.bottom {
  text-align: right;
  font-family: "niconne", sans-serif;
  font-size: 1rem;
}
